/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../app/styles/_formalize.scss */
.input_tiny {
  width: 50px;
}

/* line 12, ../../app/styles/_formalize.scss */
.input_small {
  width: 100px;
}

/* line 16, ../../app/styles/_formalize.scss */
.input_medium {
  width: 150px;
}

/* line 20, ../../app/styles/_formalize.scss */
.input_large {
  width: 200px;
}

/* line 24, ../../app/styles/_formalize.scss */
.input_xlarge {
  width: 250px;
}

/* line 28, ../../app/styles/_formalize.scss */
.input_xxlarge {
  width: 300px;
}

/* line 32, ../../app/styles/_formalize.scss */
.input_full {
  width: 100%;
}

/* line 39, ../../app/styles/_formalize.scss */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 47, ../../app/styles/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 58, ../../app/styles/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 62, ../../app/styles/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 73, ../../app/styles/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 82, ../../app/styles/_formalize.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('../../app/images/../images/button.png') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
/* line 104, ../../app/styles/_formalize.scss */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
}
/* line 107, ../../app/styles/_formalize.scss */
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
/* line 117, ../../app/styles/_formalize.scss */
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 123, ../../app/styles/_formalize.scss */
a.button {
  *padding-bottom: 3px;
}

/* line 128, ../../app/styles/_formalize.scss */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 148, ../../app/styles/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
/* line 171, ../../app/styles/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 182, ../../app/styles/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 196, ../../app/styles/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

/* line 201, ../../app/styles/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 206, ../../app/styles/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

/* line 212, ../../app/styles/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 219, ../../app/styles/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 229, ../../app/styles/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 235, ../../app/styles/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 242, ../../app/styles/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 257, ../../app/styles/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/* line 265, ../../app/styles/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 272, ../../app/styles/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 280, ../../app/styles/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 311, ../../app/styles/_formalize.scss */
.ie6_button,
* html button,
* html a.button {
  background: #dddddd url('../../app/images/../images/button.png') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto;
}

/* line 325, ../../app/styles/_formalize.scss */
* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
}

/* line 331, ../../app/styles/_formalize.scss */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 338, ../../app/styles/_formalize.scss */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: top;
}

/* line 349, ../../app/styles/_formalize.scss */
* html select {
  margin-top: 1px;
}

/* line 355, ../../app/styles/_formalize.scss */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 359, ../../app/styles/_formalize.scss */
.ie6_input_disabled {
  background: #eeeeee;
}

/* line 61, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 27, ../../app/styles/main.scss */
#masthead {
  background: #fff6df;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 31, ../../app/styles/main.scss */
#masthead .container {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 37, ../../app/styles/main.scss */
body {
  color: #444;
  background: #a8d5f9 url("/images/background.png");
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

/* line 43, ../../app/styles/main.scss */
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 49, ../../app/styles/main.scss */
h2:first-child, h2.first {
  margin-top: 0;
}

/* line 53, ../../app/styles/main.scss */
h2.location {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 1.75em;
  line-height: 0.85714em;
  margin-bottom: 0.85714em;
  color: #4195db;
}

/* line 60, ../../app/styles/main.scss */
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3125em;
  line-height: 1.14286em;
  margin-top: 1.14286em;
  margin-bottom: 0.57143em;
}

/* line 67, ../../app/styles/main.scss */
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.0625em;
  line-height: 1.41176em;
  margin-top: 1.41176em;
  margin-bottom: 0.70588em;
}

/* line 74, ../../app/styles/main.scss */
a {
  text-decoration: none;
}

/* line 82, ../../app/styles/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 86, ../../app/styles/main.scss */
p, blockquote {
  margin-bottom: 1.5em;
}

/* line 90, ../../app/styles/main.scss */
blockquote {
  background: #f0fafd;
  padding: 0.5em 1em;
}
/* line 94, ../../app/styles/main.scss */
blockquote cite {
  margin-top: -1.5em;
  display: block;
  text-align: right;
  font-style: italic;
}

/* line 102, ../../app/styles/main.scss */
ul {
  list-style: disc inside;
  margin-bottom: 1.5em;
}

/* line 107, ../../app/styles/main.scss */
em, i {
  font-style: italic;
}

/* line 111, ../../app/styles/main.scss */
strong {
  font-weight: bold;
}

/* line 115, ../../app/styles/main.scss */
sup {
  vertical-align: super;
  font-size: 0.75em;
  line-height: 2em;
}

/* line 120, ../../app/styles/main.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 124, ../../app/styles/main.scss */
.hidden {
  display: none;
}

/* line 128, ../../app/styles/main.scss */
td {
  padding-right: .5em;
}

/* line 132, ../../app/styles/main.scss */
.comparison {
  color: #49a5f2;
}

/* line 136, ../../app/styles/main.scss */
.forecast-data {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px #4195db;
  -moz-box-shadow: 0px 1px 1px 0px #4195db;
  box-shadow: 0px 1px 1px 0px #4195db;
  padding-left: 1em;
  padding-right: 1em;
  background: rgba(255, 255, 255, 0.6);
}
/* line 146, ../../app/styles/main.scss */
.forecast-data .current {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #a8d5f9;
}
/* line 150, ../../app/styles/main.scss */
.forecast-data .current h3 {
  margin-top: 0;
}
/* line 155, ../../app/styles/main.scss */
.forecast-data .forecast-day {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px #4195db;
  -moz-box-shadow: 0px 1px 1px 0px #4195db;
  box-shadow: 0px 1px 1px 0px #4195db;
  padding: 0.75em 1em;
  background: white;
}
/* line 163, ../../app/styles/main.scss */
.forecast-data .forecast-day:last-child {
  margin-bottom: 0;
}
/* line 166, ../../app/styles/main.scss */
.forecast-data .forecast-day .date {
  font-style: italic;
}
/* line 169, ../../app/styles/main.scss */
.forecast-data .forecast-day .forecast-icon {
  float: left;
  margin-right: .5em;
}

/* line 176, ../../app/styles/main.scss */
.unit {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 178, ../../app/styles/main.scss */
.unit ul, .unit li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 184, ../../app/styles/main.scss */
.unit label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.75em 1em;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: block;
}
/* line 191, ../../app/styles/main.scss */
.unit label:hover, .unit label.selected {
  background: white;
}
/* line 196, ../../app/styles/main.scss */
.unit li {
  float: left;
  margin-right: .5em;
}
/* line 201, ../../app/styles/main.scss */
.unit input {
  display: none;
}

/* line 206, ../../app/styles/main.scss */
.activity {
  margin-top: 1.5em;
}

/* line 210, ../../app/styles/main.scss */
.share {
  margin-bottom: 1.5em;
  padding: 0.75em 1em;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.5s ease-in-out 0;
  -o-transition: all 0.5s ease-in-out 0;
  transition: all 0.5s ease-in-out 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  clear: both;
  background: rgba(255, 255, 255, 0.4);
}
/* line 217, ../../app/styles/main.scss */
.share.ready {
  background: #fff9b2;
}

/* line 222, ../../app/styles/main.scss */
footer {
  border-top: 1px solid white;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  margin-top: 3em;
  padding-top: 1.5em;
}
/* line 227, ../../app/styles/main.scss */
footer .thanks {
  padding: 0 1em;
}

/* line 3, ../../app/styles/_layout.scss */
.container {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
/* line 38, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../../app/styles/_layout.scss */
.forecast {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
}
/* line 12, ../../app/styles/_layout.scss */
.forecast:last-child {
  width: 48.71795%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 17, ../../app/styles/_layout.scss */
.unit {
  margin-bottom: 1.5em;
}
