<div class="share" ng-class="{ready: gloat}">
  <div ng-hide="gloat">
    Get both forecasts to gloat
  </div>
  <div ng-show="gloat">
    Gloat with this URL:
    <span ng-click="selectText($event)">
      http://weatherjerk.com/#/gloats/{{gloat.id}}
    </span>
  </div>
</div>
<div ng-controller="ForecastsCtrl" class="forecast">
  <h2>Your Awesome Forecast</h2>
  <form ng-submit="getForecastData('gloater')">
    <div>
      <input type="text" ng-model="forecast" placeholder="Your zip or city"/>
      <input type="submit" />
    </div>
    <activity status="status"></activity>
    <forecast data="forecasts.gloater"></forecast>
  </form>
</div>
<div ng-controller="ForecastsCtrl" class="forecast">
  <h2>Some Poor Slob's Forecast</h2>
  <form ng-submit="getForecastData('poorSlob')">
    <div>
      <input type="text" ng-model="forecast" placeholder="Some poor slob's zip or city" />
      <input type="submit" />
    </div>
    <activity status="status"></activity>
    <forecast data="forecasts.poorSlob"></forecast>
  </form>
</div>
